# This is a basic workflow to help you get started with Actions

name: Deploy Angular CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build -- --base-href /DigitalPatrimony/

      - name: Copy index to 404 for SPA routing
        run: cp dist/DigitalPatrimony/browser/index.html dist/DigitalPatrimony/browser/404.html

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        with:
          build_dir: dist/DigitalPatrimony/browser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
